body{
    /* Setting default margin in body tag */
    margin: 0;
    padding: 0;
    /* Setting fonts */
    font-family:'Golos Text', 'Montserrat', 'Roboto Mono';
    font-weight: 100;

    /* For body::after element to cover all screen  */
    position: relative;

    
    /* Adding background  */
    background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg'); 
    background-size: cover;

    /* Setting page size */
    height: 2500px;
}


.header{
    /* display: flex;
    justify-content: space-around; */
    height:50px;
    line-height: 50px;
    background-color: black;

    
    /* Bringing to the fore */
    position: relative;
    z-index: 1;
   
}


body::after{
    content: "";
    background: white;
    position: absolute;
    opacity: 0.5;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}



ul{
    /* Removing default indents and style*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}




/* Nav list */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;

    

}

.nav-list li{
    /* display: inline-block; */
    /* color:  rgba(255, 255, 255, 0.742); */
    color: white;
    margin: 0 10vh;
}

.nav-list a:hover{
    color: #DFFF00;
    text-decoration: underline;
    transition: all .3s ease;
    /* transform: scale(1.2); */
    font-size: large;
}


 /* Footer */
  .footer{
    /* Basic settings */
    background-color: #DFFF00;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;

    /* Bringing to the fore */
    z-index: 1;
  }



  /* Biography */

.main{
    display: flex;
    justify-content: cneter;
    align-items: center;
}




.Biography{
    /* Bringing to the fore */
    position: relative;
    z-index: 1;

    border: 2px solid red;
    background-color: white;


    width: 30%;
    margin: 5% auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Biography p{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 20px;
    /* width: 200px; */
    height: 300px
}




