h1{
    color: blueviolet;
    font-weight: bold;

}

input{
    color: goldenrod;
}

#id{
    color:aqua
}

.class{
    color:greenyellow;
}

.div{
    color: darkorange;
    background-color: aqua;
}

.div h1{
    color: red;
    font-size: large;
    text-decoration: underline;
}