body{
    /* Setting default margin in body tag */
    margin: 0;
    /* Setting fonts */
    font-family:'Golos Text', 'Montserrat', 'Roboto Mono';
    font-weight: 100;

    

    background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg'); 

    background-position: 0 40px;
    background-size: cover;
}


.header{
    /* display: flex;
    justify-content: space-around; */
    height:50px;
    line-height: 50px;
    background-color: black;

    /* background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg'); 

    background-position: 0 40px; */
   
}

ul{
    /* Removing default indents and style*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}




/* Nav list */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;

}

.nav-list li{
    /* display: inline-block; */
    /* color:  rgba(255, 255, 255, 0.742); */
    color: white;
    margin: 0 10vh;
}

.nav-list a:hover{
    color: #DFFF00;
    text-decoration: underline;
    transition: all .3s ease;
    /* transform: scale(1.2); */
    font-size: large;
}


 /* Footer */
  .footer{
    background-color: #DFFF00;
    height: 50px;
    width: 100%;
    position: fixed; 
    bottom: 0;
  }



