body{
    margin: 0;
    font-family:'Golos Text', 'Montserrat', 'Roboto Mono';
    font-weight: 100;
}

ul{
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;
    justify-content: space-around;
    height:50px;
    background-color: black;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    

}

.nav-list li{
    display: inline-block;
    font-size: large;
    color:  rgba(255, 255, 255, 0.742);
    margin: 0 10vh;
    
}

.nav-list a:hover{
    color: white;
    text-decoration: underline;
    transition: all .2s ease;
    transform: scale(1.2);
}


.nav-list li:last-of-type a{
    display: flex;
    align-items: center;
    background-color: rgb(255, 143, 143);
    border-radius: 5px;
    padding: 2px 4px;
    
  }

  .nav-list li:last-of-type a:hover{
   
    background-color: rgb(212, 117, 117);
    transition: all 0.2s ease;
    text-decoration: none;
    
    
  }

  a{
    color: aliceblue;
  }

  a:hover{
    transform: scale(20);
  }




